.sans-serif-font {
  font-family: "Public Sans", sans-serif;
}

.serif-font {
  font-family: "Ogg Roman";
}

main {
  background-image: url("/images/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-position: 0 45px;
}

.navbar {
  font-family: "Public Sans", sans-serif;
}

.flora-logo {
  width: 55px;
}

.linea-vertical-1 {
  margin: 0 auto;
  position: relative;
  top: -48px;
  left: 0px;
  width: 2px;
  height: 60px;
  background-color: black;
}

h1 {
  font-size: 78px;
  font-weight: 800;
  color: black;
}

.title {
  margin-top: -35px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  color: black;
}

.linea-vertical-2 {
  margin: 0 auto;
  position: relative;
  top: 22px;
  left: 0px;
  width: 2px;
  height: 100px;
  background-color: black;
}

.flora-image {
  margin: 120px auto 45px auto;
  width: 250px;
  border: 2px solid black;
  border-radius: 200px;
  padding: 4px;
}

.card {
  display: block;

  background-color: white;
  margin: 50px auto;
  width: 50%;
  height: 100px;
  border: none;
}
