:root {
  --primary-color: #2928fe;
  --secondary-color: #8785fb;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.sans-serif-font {
  font-family: "Public Sans", sans-serif;
}

.serif-font {
  font-family: "Ogg Text TRIAL";
  font-weight: 100;
}

.index-bg {
  background-image: url("/images/background.jpeg");
  background-size: cover;
  background-position: center 112px;
  background-repeat: no-repeat;
  height: 100vh;
}

.about-bg {
  background-image: url("/images/backgound-gradient-about.jpg");
  background-position: center 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.navbar {
  font-family: "Public Sans", sans-serif;
}

.flora-logo {
  width: 65px;
}

.header-index {
  position: relative;
  top: 190px;
}

.header-about {
  position: relative;
  top: 170px;
}

.flora-image-index {
  display: block;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 200px;
  padding: 4px;
  width: 280px;
}

.flora-image-about {
  display: block;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 200px;
  padding: 4px;
  width: 180px;
}

.line-1-index {
  margin: 0 auto 25px auto;
  width: 3px;
  height: 65px;
  background-color: black;
}

.line-1-about {
  margin: 0 auto 25px auto;
  width: 3px;
  height: 54px;
  background-color: black;
}

h1 {
  font-size: 78px;
  font-weight: 800;
  color: black;
}

.title-hi {
  margin-top: -15px;
  line-height: 1;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  color: black;
}

.index-subtitle {
  margin-bottom: 41px;
}

.line-2-index {
  margin: 0 auto;
  width: 3px;
  height: 380px;
  background-color: black;
}

.line-2-about {
  margin: 0 auto;
  width: 3px;
  height: 64px;
  background-color: black;
}

.line-3-index {
  margin: 0 auto;
  position: relative;
  top: 12px;
  width: 3px;
  height: 70px;
  background-color: black;
}

.projects {
  margin-top: 210px;
  padding: 0;
}

.project-titles {
  font-style: normal;
  font-size: 44px;
}

p {
  font-size: 22px;
  line-height: 28px;
  font-family: "Ogg Roman";
  font-weight: 100;
}

.breeze {
  margin-top: 100px;
}

.clocks {
  margin-top: 200px;
}

.poem {
  margin-top: 200px;
}

.primary-buttons {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-text {
  margin-top: 200px;
  padding: 0 200px;
}

@media (max-width: 768px) {
  .flora-image-index {
    width: 200px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 18px;
  }

  .line-1-index {
    height: 40px;
  }

  .projects {
    padding: 0 40px;
  }

  .project-titles {
    font-style: normal;
    font-size: 34px;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    font-family: "Ogg Roman";
    font-weight: 600;
  }

  .breeze {
    margin-top: 20px;
  }

  .clocks {
    margin-top: 20px;
  }

  .poem {
    margin-top: 20px;
  }

  .about-text {
    margin-top: 200px;
    padding: 0 50px;
  }
}
