:root {
  --primary-color: #2928fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.sans-serif-font {
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
}

.serif-font {
  font-family: "Ogg Roman", "Times New Roman", Times, serif;
}

.index-bg {
  background-image: url("/images/index-background-gradient-2.jpg");
  background-size: contain;
  background-position: center 112px;
  background-repeat: no-repeat;
  height: 100vh;
}

.about-bg {
  background-image: url("/images/backgound-gradient-about.jpg");
  background-position: center 100px;
  background-repeat: no-repeat;
  height: 100vh;
}

.contact-bg {
  background-image: url("/images/contact-background-gradient.jpg");
  background-position: center 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-bottom: 140px;
}

.flora-logo {
  width: 65px;
}

.navbar-nav .nav-link.active {
  color: var(--primary-color);
}

.nav-link {
  color: black;
  transition: all 150ms ease-in-out;
}

.nav-link:hover {
  color: var(--primary-color);
}

.main {
  position: relative;
  top: 170px;
}

.main-no-image {
  position: relative;
  top: 140px;
}

.flora-image-index {
  display: block;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 200px;
  padding: 4px;
  width: 280px;
}

.flora-image-about {
  display: block;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 200px;
  padding: 4px;
  width: 200px;
}

h1 {
  font-size: 68px;
  font-weight: 800;
  color: black;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 5px;
}

h2 {
  font-size: 24px;
  font-style: italic;
  color: black;
}

.line-1 {
  margin: 0 auto 15px auto;
  width: 3px;
  height: 54px;
  background-color: black;
}

.line-2 {
  margin: 0 auto;
  width: 3px;
  height: 64px;
  background-color: black;
}

.projects {
  margin-top: 30px;
}

h3 {
  font-style: normal;
  font-size: 44px;
}

p {
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.4;
}

.breeze {
  margin-top: 50px;
}

.clocks {
  margin-top: 90px;
}

.poem {
  margin-top: 90px;
}

.primary-buttons {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-text {
  margin-top: 200px;
  padding: 0 200px;
}

i {
  color: var(--primary-color);
  font-size: 34px;
  margin-right: 8px;
}

.contact-links {
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}

.contact-links:hover {
  color: var(--primary-color);
}

footer {
  color: black;
  font-size: 13px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 3px;
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 992px) {
  .flora-image-index {
    width: 200px;
  }

  .about-bg {
    background-position: center 68px;
  }

  .header {
    position: relative;
    top: 133px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 22px;
  }

  .line-1 {
    height: 40px;
  }

  .projects {
    padding: 0 40px;
  }

  h3 {
    font-style: normal;
    font-size: 34px;
  }

  p {
    font-size: 18px;
    line-height: 22px;
  }

  .breeze {
    margin-top: 50px;
  }

  .clocks {
    margin-top: 70px;
  }

  .poem {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .about-text {
    margin-top: 200px;
    padding: 0 50px;
  }

  i {
    font-size: 28px;
  }
}
